/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: url(../img/phone-on-table-with-coffee-mobile.jpg) no-repeat 38% center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Open sans', Helvetica, Helvetica Neue, Arial;
    color: #222636;
    font-weight: 300;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
    Custom styles
   ========================================================================== */

h1 {
  font-size: 3.1em;
  font-weight: 300;
  line-height: 1.2em;
  color: white;
  background: rgba(36,39,50,0.93);
  padding: 10px;
  font-weight: 300;
}
h2 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
  /*text-align: center;*/
}
.page {
  display: flex;
  justify-content: center;
  min-height: 60vh;
}
.page-first {
  align-items: center;
  height: 100vh;
}
.page-second {
  background: rgba(255,255,255,0.9);
  padding: 50px 0 0 0;
}
.page-third {
  background: url(../img/phone-in-hand.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  padding-top: 30vh;
}
.mugshot-logo {
  background: url(../img/mugshot-camera.png) no-repeat;
  background-size: contain;
  width: 70vw;
  height: 53vw;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.google-play-badge {
  background: url(../img/en_badge_web_generic.png) no-repeat;
  background-size: contain;
  width: 90vw;
  height: 40vw;
  max-width: 646px;
  display: block;
  margin: 0 auto;
}

.footer-container {
  background: #2a2d38;
  overflow: auto;
  max-height: 20vh;
  color: white;
}
.footer-text {
  font-size: 0.8em;
  font-weight: 400;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 600px) {   /*Background changes*/
  html {
      background: url(../img/phone-on-table-with-coffee.jpg) no-repeat 30% center fixed;
      background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
